*.py[cod]
*.suo
*.bak

/build/
RemoteWPS1.pyproj
RemoteWPS1.sln
/Include
/Lib/
/Scripts/

/RemoteWPS.pyproj
/RemoteWPS.sln
/.vs/config/applicationhost.config
/dist/
/src/wps_remote.egg-info/

/json_out.json
/json_out_1.json
/json_out_2.json
