# (c) 2016 Open Source Geospatial Foundation - all rights reserved
# (c) 2014 - 2015 Centre for Maritime Research and Experimentation (CMRE)
# (c) 2013 - 2014 German Aerospace Center (DLR)
# This code is licensed under the GPL 2.0 license, available at the root
# application directory.

[DEFAULT]

bus_class_name = xmppBus.XMPPBus

port = 5223
address = <XMPP_server_ip_address>
domain = geoserver.org
user = default.GdalContour
password = R3m0T3wP5

mucService = conference.%(domain)s
mucServicePassword = R3m0T3wP5

resource_file_dir = /share/xmpp_data/resource_dir
wps_execution_shared_dir = /share